@inherits FormView<Core.Common.Models.Identity.UserModel>

@*<ViewLayout IsLoading="IsLoading">
	<Content>
		<span class="text-muted">Introduceti adresa de email pentru a recupera parola</span>
		<Separator />
		<Separator />
		@if (Succeeded)
		{
			<div class="alert alert-success alert-dismissible" role="alert">
				<div class="alert-message">
					<small>@I18n.Text.PasswordGetToken</small>
				</div>
			</div>
		}
		<DataField Label="@I18n.Model.UserModel_Email">
			<Content>
				
			</Content>
		</DataField>
		<Row>
			<Cell Size="12">
				<TelerikButton Class="btn btn-success btn-sm float-end" OnClick="async () => await SaveWithFreezeAsync()" Enabled="!Freeze" IconClass="k-icon k-i-unlock">
					@I18n.Labels.ButtonPasswordRecovery
					<TelerikLoader Class="loader-indicator" ThemeColor="light" Visible="Freeze"></TelerikLoader>
				</TelerikButton>
				<a class="float-end me-2" @onclick="() => OnLogin?.Invoke()">
					<small class="font-weight-bold">@I18n.Labels.ButtonLogin</small> 
				</a>
			</Cell>
		</Row>
	</Content>	
</ViewLayout>*@

<MxView IsLoading="IsLoading" FullSize="false">
	<Body>
		<div class="card">
			<div class="card-body">
				<Row>
					<Cell Size="12">
						<FieldLabel Text="@I18n.Model.UserModel_Email" />
						<TelerikTextBox @bind-Value="Model.Email" />
					</Cell>
				</Row>
				@*<Row>
					<Cell Size="12">
						<FieldLabel Text="@I18n.Model.UserModel_CurrentPassword" />
				<HxInputText @bind-Value="Model.Password" Password="true" Width="100%" />
					</Cell>
				</Row>*@
				<Row>
					<Cell Size="12" CssClass="">
						<TelerikButton Class="btn btn-success btn-sm float-end" OnClick="async () => await SaveWithFreezeAsync()" Enabled="!Freeze" Icon="FontIcon.Unlock">
							@I18n.Labels.ButtonPasswordRecovery
							<TelerikLoader Class="loader-indicator" ThemeColor="light" Visible="Freeze"></TelerikLoader>
						</TelerikButton>
						<a class="float-end me-2" @onclick="() => OnLogin?.Invoke()">
							<small class="font-weight-bold">@I18n.Labels.ButtonLogin</small>
						</a>
					</Cell>
				</Row>
			</div>
		</div>
	</Body>
</MxView>