@inherits FormView<PasswordModel>

<MxView IsLoading="IsLoading">
	<Body>
		@if (Succeeded)
		{
			<div class="alert alert-success alert-dismissible" role="alert">
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				<div class="alert-message">
					<small>@I18n.Text.PasswordConfirm</small>
				</div>
			</div>
		}
		<DataField Label="@I18n.Model.UserModel_NewPassword">
			<Content>
				<TelerikTextBox @bind-Value="Model.NewPassword" Type="InputType.Password" />
			</Content>
		</DataField><DataField Label="@I18n.Model.UserModel_NewPasswordRepeat">
			<Content>
				<TelerikTextBox @bind-Value="Model.NewPasswordRepeat" Type="InputType.Password" />
			</Content>
		</DataField>
		<Row>
			<Cell Size="12">
				<TelerikButton Class="btn btn-success btn-sm float-end" OnClick="async () => await SaveWithFreezeAsync()" Enabled="!Freeze" Icon="FontIcon.ClearCss">
					@I18n.Labels.ButtonPasswordReset
					<TelerikLoader Class="loader-indicator" ThemeColor="light" Visible="Freeze"></TelerikLoader>
				</TelerikButton>
				@if (Succeeded)
				{
					<TelerikButton Class="btn btn-danger btn-sm float-end me-2" OnClick="() => OnLogin?.Invoke()" Icon="FontIcon.Unlock">
						@I18n.Labels.ButtonLogin
					</TelerikButton>
				}
				else
				{
					<a class="float-end me-2" @onclick="() => OnLogin?.Invoke()">
						<small class="font-weight-bold">@I18n.Labels.ButtonLogin</small> 
					</a>
				}
			</Cell>
		</Row>
	</Body>	
</MxView>