@inherits FormView<Core.Common.Models.Identity.UserModel>

<MxView>
	<Actions>
		<Button Icon="FontIcon.Save"
					Text="@I18n.Labels.ButtonSave"
					OnClick="async () => await SaveDataAsync()" />
	</Actions>
	<Body>
		<DataField Label="@I18n.Model.UserModel_UserName" LabelSize="2" ContentSize="10">
			<Content>
				<Field Text="@ProfileData.User.UserName" />
				<i class="k-icon k-i-user"></i><strong class="ms-2">@Model.UserName</strong>
				<MxTag Style="@GetStatusTag()" Text="@I18n.Text.Get($"UserModel_IsLocked_{Model.IsLocked}").ToUpper()" />
				@{
					foreach (var role in ProfileData.User.Roles)
					{
						<MxTag Style="@GetRoleTag(role)" Text="@role" />
					}
				}
			</Content>
		</DataField>
		<DataField Label="@I18n.Model.UserModel_Email" LabelSize="2" ContentSize="10">
			<Content>
				<Field Text="@ProfileData.User.Email" />
			</Content>
		</DataField>
		<DataField Label="@I18n.Model.UserModel_LastName" LabelSize="2" ContentSize="10">
			<Content>
				<Field Text="@($"{ProfileData.User.FirstName} {ProfileData.User.LastName}")" />
			</Content>
		</DataField>
		<DataField Label="@I18n.Model.UserModel_DarkMode" LabelSize="2" ContentSize="10">
			<Content>
				<span></span>
				<TelerikSwitch Value="ProfileData.User.DarkMode"
							   OnLabel="Da"
							   OffLabel="Nu"
							   ValueChanged="async (bool value) => await DarkModeChangedHandlerAsync(value)">
				</TelerikSwitch>
				<Separator />
				<Separator />
			</Content>
		</DataField>
		<DataField Label="@I18n.Model.UserModel_LogoPicture" LabelSize="2" ContentSize="10">
			<Content>
				<InputFile OnChange="OnInputFileChangeAsync" />
				<Separator />
				<img src="@ImageSrc" class="rounded-circle img-responsive mt-2" alt="@($"{ProfileData.User.LastName} {ProfileData.User.FirstName}")" width="128" height="128">
			</Content>
		</DataField>
	</Body>
</MxView>
