@inherits PageListView<Core.Common.Models.Identity.UserModel>

<MxView>
	<Actions>
		&nbsp;
		<OptionMenu>
			<Items>
				<OptionItem Text="Adaugare" OnClick="() => Form()" />
			</Items>			
		</OptionMenu>
	</Actions>
	<Body>
		<TelerikListView TItem="Core.Common.Models.Identity.UserModel"
						 OnRead="ReadItemsAsync"
						 Pageable="true"
						 PageSize="Source.PageSize">
			<Template>
				<div class="d-flex align-items-start">
					<div class="flex-grow-1">
						<OptionMenu>
							<Items>
								<OptionItem Text="Editare" OnClick="() => Edit(context)" />
							</Items>							
						</OptionMenu>
					</div>
				</div>
				<Row>
					<Cell Size="6" CssClass="responsive-item">
						<TelerikFontIcon Icon="FontIcon.User" ThemeColor="@ThemeConstants.SvgIcon.ThemeColor.Primary" />
						<strong>@context.UserName</strong>
						<Separator />
						@context.FirstName @context.LastName
					</Cell>
					<Cell Size="6" CssClass="responsive-item">
						<span>@context.Email</span>
						<Separator />
						<span>@context.PhoneNumber</span>
					</Cell>
				</Row>
				<Separator Type="SeparatorType.Line" />
			</Template>
		</TelerikListView>
	</Body>
</MxView>