<nav class="navbar navbar-expand navbar-light navbar-bg">
	<div class="navbar-collapse collapse">
		<ul class="navbar-nav navbar-align">
			@* <li class="nav-item dropdown">
				<a class="nav-icon dropdown-toggle" href="#" id="alertsDropdown" data-bs-toggle="dropdown">
					<div class="position-relative">
						<TelerikSvgIcon Icon="SvgIcon.Bell" />
						@if (Messages.Any())
						{
							<span class="indicator bg-danger text-white">@Messages.Count</span>
						}
					</div>
				</a>
				<div class="dropdown-menu dropdown-menu-lg dropdown-menu-end py-0" aria-labelledby="alertsDropdown">
					<div class="dropdown-menu-header">
						@Messages.Count notificari
					</div>
					<div class="list-group">
						@foreach (var item in Messages)
						{
							<a href="#" class="list-group-item">
								<div class="row g-0 align-items-center">
									<div class="col-2">
										<span class="k-icon k-i-bell"></span>
									</div>
									<div class="col-10">
										<div class="text-dark" @onclick="async () => await NotificationSelectedAsync(item)">@item.Title</div>
										<div class="text-muted small mt-1">@item.CreationDate.ToString("dd MMM yyyy HH:mm")</div>
									</div>
								</div>
							</a>
						}
					</div>
					<div class="dropdown-menu-footer">
						<a href="#" class="text-muted">Show all notifications</a>
					</div>
				</div>
			</li>

			<li class="nav-item dropdown">
				<a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#" data-bs-toggle="dropdown">

				</a>

				<a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-bs-toggle="dropdown">
					@{
						if (ProfileData != null)
						{
							<img src="@ImageSrc" class="avatar img-fluid rounded-circle me-1" alt="@($"{ProfileData.User.LastName} {ProfileData.User.FirstName}")">
							<span>@($"{ProfileData?.User.FirstName} {ProfileData?.User.LastName}")</span>
						}
					}
				</a>
				<div class="dropdown-menu dropdown-menu-end">
					<span class="dropdown-item cursor-pointer">
						<span>Profil</span>
					</span>
					<div class="dropdown-divider"></div>
					<span class="dropdown-item" @onclick="async () => await SignOutAsync()">Sign out</span>
				</div>
			</li> *@
		</ul>
	</div>
</nav>