@inherits FormView<FieldModel>

<MxView>
	<Actions>
		&nbsp;
		<Button CssClass="float-end"
				Icon="FontIcon.Save"
				OnClick="async () => await SaveAsync()" />
	</Actions>
	<Body>
		<Row>
			<Cell Size="2">
				@I18n.Model.FieldModel_Name
			</Cell>
			<Cell Size="6">
				<TelerikTextBox @bind-Value="Model.Name" />
			</Cell>
		</Row>
		<Row>
			<Cell Size="2">
				@I18n.Model.FieldModel_Title
			</Cell>
			<Cell Size="10">
				<TelerikTextBox @bind-Value="Model.Title" />
			</Cell>
		</Row>
		<Row>
			<Cell Size="2">
				@I18n.Model.FieldModel_Info
			</Cell>
			<Cell Size="8">
				<TelerikTextBox @bind-Value="Model.Info" />
			</Cell>
		</Row>
		<Row>
			<Cell Size="2">
				@I18n.Model.FieldModel_Description
			</Cell>
			<Cell Size="6">
				<TelerikTextArea @bind-Value="Model.Description" Class="textarea-class" />
			</Cell>
		</Row>
		<Row>
			<Cell Size="2">
				@I18n.Model.FieldModel_Type
			</Cell>
			<Cell Size="4">
				<TelerikDropDownList Data="EnumData.FieldTypeList"
									 Value="Model.Type"
									 ValueChanged="@((EnumFieldType x) => OnTypeChange(x))"
									 ValueField="Id"
									 TextField="Name"
									 DefaultText=""
									 Width="70%">
				</TelerikDropDownList>
			</Cell>
		</Row>
		@if (FieldListTypes.Any())
		{
			<Row>
				<Cell Size="2">
					@I18n.Model.FieldModel_ListType
				</Cell>
				<Cell Size="4">
					<TelerikDropDownList Data="FieldListTypes"
									 Value="Model.ListType"
									 ValueChanged="@((EnumFieldListType? x) => OnListTypeChange(x))"
									 ValueField="Id"
									 TextField="Name"
									 DefaultText=""
									 Width="70%">
					</TelerikDropDownList>
				</Cell>
			</Row>
		}
	</Body>
</MxView>