@inherits PageListView<CardModel>

<MxView Title="Card list" LayoutStyle="ViewLayoutStyle.Simple">
	<Body>
		<MxCard Bordered="true">
			<CardBody>
				<Row>
					<Cell Size="1"></Cell>
					<Cell Size="10">
						<Row>
							<Cell Size="12" CssClass="min-width">
								<Button Icon="FontIcon.Plus"
										CssClass="float-end ms-2"
										OnClick="() => Edit()"
										Tooltip="Add new card" />
								<Button Icon="FontIcon.FilterClear"
										CssClass="float-end ms-2"
										OnClick="() => ResetFilter()" />
								<Button Icon="FontIcon.Filter"
										CssClass="float-end ms-2"
										OnClick="() => ShowFilter()"
										Tooltip="Filter list" />
								<OptionMenu CssClass="ms-2">
									<Items>
										@* <OptionItem Text="@SortText" OnClick="() => SortList()" /> *@
										<OptionItem Text="@("Name " + (IsAscending ? "descending" : "ascending"))" OnClick='() => SortList("Name")' />
										<OptionItem Text="@("Number " + (IsAscending ? "descending" : "ascending"))" OnClick='() => SortList("Number")' />
									</Items>
								</OptionMenu>
								<span class="float-end pt-1">Sort by:</span>
							</Cell>
						</Row>

						<Separator Type="SeparatorType.Line" />
						<TelerikListView @ref="list"
										 Class="mt-5"
										 TItem="CardModel"
										 OnRead="ReadItemsAsync"
										 Pageable="true"
										 PageSize="15">
							<Template>
								<Row Padding="0">
									<Cell Size="12">
										<Button Icon="FontIcon.Trash"
												CssClass="float-end ms-2 button-purple"
												OnClick="async () => await DeleteAsync(context)"
												Tooltip="Delete card" />
										<Button Icon="FontIcon.Pencil"
												CssClass="float-end"
												OnClick="() => Edit(context)"
												Tooltip="Edit card" />
										<span><strong>@context.Name</strong></span>
										<Separator />
										<label class="mt-1 mb-1"><span class="text-muted">Number: </span><strong>@context.Number</strong></label>
										@if (!string.IsNullOrEmpty(context.Description))
										{
											<Separator />
											<label><small class="text-muted mt-2 text-justify">@context.Description</small></label>
										}
										<Separator Type="SeparatorType.Line" />
									</Cell>
								</Row>
							</Template>
						</TelerikListView>
					</Cell>
					<Cell Size="1"></Cell>
				</Row>
			</CardBody>
		</MxCard>
		<TelerikTooltip TargetSelector="button[title]" Position="TooltipPosition.Top" ShowOn="@TooltipShowEvent.Hover" Id="position-tooltip"></TelerikTooltip>
		<TelerikWindow Class="demo-window"
					   Width="50%"
					   Height="auto"
					   Modal="true"
					   Visible="IsWindowVisible">
			<WindowTitle>
				<strong>Filter list</strong>
			</WindowTitle>
			<WindowActions>
				<WindowAction Name="Close" OnClick="() => { IsWindowVisible = false; }"></WindowAction>
			</WindowActions>
			<WindowContent>
				<Row>
					<Cell Size="4" CssClass="min-width">
						<label for="Name" class="k-label k-form-label">Name</label>
						<TelerikTextBox @bind-Value="QueryInfo.Name"
										Id="Name" />
					</Cell>
				</Row>
				<Row>
					<Cell Size="4" CssClass="min-width">
						<label for="Number" class="k-label k-form-label">Number</label>
						<TelerikTextBox @bind-Value="QueryInfo.Number"
										Id="Number" />
					</Cell>
				</Row>
				<Separator Type="SeparatorType.Line" />
				<Row>
					<Cell Size="12" CssClass="min-width">
						<Button Icon="FontIcon.Check"
								CssClass="float-end"
								OnClick="() => ApplyFilter()"
								Tooltip="Filter list"
								Size="@ThemeConstants.Button.Size.Large" />
					</Cell>
				</Row>

			</WindowContent>
		</TelerikWindow>
	</Body>
</MxView>