@inherits PageListView<CategoryModel>

<MxView Title="Category list" LayoutStyle="ViewLayoutStyle.Simple">
	<Body>
		<MxCard Bordered="true">
			<CardBody>
				<Row>
					<Cell Size="1"></Cell>
					<Cell Size="10">

						<MxCard Bordered="true">
							<CardBody>
								<Row>
									<Cell Size="4" CssClass="min-width">
										<label for="Name" class="k-label k-form-label">Name</label>
										<TelerikTextBox @bind-Value="QueryInfo.Name"
														Id="Name" />
									</Cell>
								</Row>
								<Separator Type="SeparatorType.Line" />
								<Row>
									<Cell Size="12" CssClass="min-width">
										<Button Icon="FontIcon.FilterClear"
												CssClass="float-end ms-1 button-purple"
												OnClick="() => ResetFilter()"
												Size="@ThemeConstants.Button.Size.Large" />
										<Button Icon="FontIcon.Filter"
												CssClass="float-end button-purple"
												OnClick="() => RebindGrid()"
												Tooltip="Filter list"
												Size="@ThemeConstants.Button.Size.Large" />
									</Cell>
								</Row>
							</CardBody>
						</MxCard>

						<Separator Type="SeparatorType.Line" />
						<Row>
							<Cell Size="12" CssClass="min-width">
								<Button Icon="FontIcon.Plus"
										CssClass="float-end ms-2 button-purple"
										OnClick="() => Edit()"
										Tooltip="Add new category" />
							</Cell>
						</Row>

						<Separator Type="SeparatorType.Line" />
						<TelerikListView @ref="list"
										 TItem="CategoryModel"
										 OnRead="ReadItemsAsync"
										 Pageable="true"
										 PageSize="15">
							<HeaderTemplate>
								<Button Icon="@SortIcon"
										FillMode="@ThemeConstants.Button.FillMode.Flat"
										CssClass="mb-3"
										Tooltip="Sort category list"
										OnClick="() => SortList()"
										Size="@ThemeConstants.Button.Size.Large" />
							</HeaderTemplate>
							<Template>
								<Row Padding="0">
									<Cell Size="12">
										<span><strong>@context.Name</strong></span>
										<Button Icon="FontIcon.Trash"
												CssClass="float-end ms-2 button-purple"
												OnClick="async () => await DeleteAsync(context)"
												Tooltip="Delete category" />
										<Button Icon="FontIcon.Pencil"
												CssClass="float-end button-purple"
												OnClick="() => Edit(context)"												
												Tooltip="Edit category" />
										<Separator Type="SeparatorType.Line" />
									</Cell>
								</Row>
							</Template>
						</TelerikListView>
					</Cell>
					<Cell Size="1"></Cell>
				</Row>
			</CardBody>
		</MxCard>
		<TelerikTooltip TargetSelector="button[title]" Position="TooltipPosition.Top" ShowOn="@TooltipShowEvent.Hover" Id="position-tooltip"></TelerikTooltip>
	</Body>
</MxView>