@inherits View<TransactionModel>

<MxView LayoutStyle="ViewLayoutStyle.Simple">
	<Body>
		<Row Padding="0">
			<Cell Size="12">
				<Row Padding="0">
					<Cell Size="4">
						<MxCard Bordered="true" HeaderVisible="false" Size="ControlSize.Small" Padding="0">
							<CardBody>
								<h3>Total income: <span class="float-end">£ <span class="@GetAmountCss(Statistics.IncomeTotal)">@Statistics.IncomeTotal.ToString("#0.00")</span></span> </h3>
								<h4>Income count: <span class="text-muted float-end">@Statistics.IncomeCount</span></h4>
							</CardBody>
						</MxCard>
					</Cell>
					<Cell Size="4">
						<MxCard Bordered="true" HeaderVisible="false" Size="ControlSize.Small" Padding="0">
							<CardBody>
								<h3>Total expense: <span class="float-end">£ <span class="@GetAmountCss(-Statistics.ExpenseTotal)">@Statistics.ExpenseTotal.ToString("#0.00")</span></span></h3>
								<h4>Expense count: <span class="text-muted float-end">@Statistics.ExpenseCount</span></h4>
							</CardBody>
						</MxCard>
					</Cell>
					<Cell Size="4">
						<MxCard Bordered="true" HeaderVisible="false" Size="ControlSize.Small" Padding="0">
							<CardBody>
								<h3>Total Net/Loss: <span class="float-end">£ <span class="font-weight-bold @GetAmountCss(Statistics.NetLossTotal)">@Statistics.NetLossTotal.ToString("#0.00")</span></span></h3>
								<h4>Transactions count: <span class="text-muted float-end">@Statistics.TotalTransactions</span></h4>
							</CardBody>
						</MxCard>
					</Cell>
				</Row>
			</Cell>
		</Row>
	</Body>
</MxView>